<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=CR4-07\MSSQLSERVER2013;Initial Catalog=aspnetdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Orders" connectionString="Data Source=CR4-07\MSSQLSERVER2013;Initial Catalog=Orders;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
      <authentication mode="Forms" />
      <compilation debug="false" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
